In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Load the dataset
file_path = "StudentsPerformance.csv"  # Update the file path if needed
students_data = pd.read_csv(file_path)

In [ ]:
# Display basic information about the dataset
print("Basic Information About Dataset:")
print(students_data.info())
print("\nFirst 5 Rows:")
print(students_data.head())

# Check for missing values
print("\nMissing Values in Dataset:")
print(students_data.isnull().sum())

# Handling Missing Values (if any)
students_data = students_data.dropna()  # Dropping missing values (modify as needed)

# Check for duplicate rows
print("\nDuplicate Rows in Dataset:", students_data.duplicated().sum())

# Removing Duplicates (if any)
students_data = students_data.drop_duplicates()

# Converting column names to lowercase for consistency
students_data.columns = students_data.columns.str.lower().str.replace(' ', '_')

# Basic statistical summary of numerical columns
print("\nStatistical Summary of Scores:")
print(students_data.describe())

Basic Information About Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

First 5 Rows:
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

Missing Values in Dataset:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Duplicate Rows in Dataset: 0

Statistical Summary of Scores:
       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000